.git
.gitignore
.DS_Store
.env
.env.local
.env.production
docker-compose.yml
docker-compose.override.yml
docker/
README.md

# Development files
node_modules/
vendor/
storage/app/public/*
!storage/app/public/.gitkeep
storage/debugbar/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache

# Keep built assets
!public/build/
!public/hot