APP_NAME="Atelier Véridique"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=atelier_veridique
DB_USERNAME=postgres
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@atelier-veridique.com
MAIL_FROM_NAME="Atelier Véridique"

STRIPE_KEY=
STRIPE_SECRET=

SESSION_DRIVER=database
SESSION_LIFETIME=120

QUEUE_CONNECTION=database