/node_modules
/vendor
.env
.env.production
.env.local
.DS_Store
Thumbs.db
storage/app/public/*
!storage/app/public/.gitkeep
storage/debugbar/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log