version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_DATABASE=atelier_veridique
      - DB_USERNAME=postgre
      - DB_PASSWORD=ZgJnnZoxBnAwYU6G4zUF6P1Ds8OAL6ng
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_DB=atelier_veridique
      - POSTGRES_USER=postgre
      - POSTGRES_PASSWORD=ZgJnnZoxBnAwYU6G4zUF6P1Ds8OAL6ng
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: